<?xml version="1.0"?>
<launch>


  

  <!-- Robot state publisher node -->
  <node name="robot_state_publisher_2" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
    <remap from="joint_states" to="UR3_2/joint_states" />
  </node>

  <!-- Start controllers -->
  <rosparam file="$(find vrep_ros_control_example)/control/UR3_2_mr_controller.yaml" command="load"/> <!-- Joint trajectory controller (this is not a low-level controller) -->



  
</launch>
