<launch>

    <!-- ROS PARAMETERS  -->
    <arg name="smach_view" default="false" />
    <arg name="vrep_simu" default="true" />
    <arg name="webapp" default="true" />

    <!-- V-REP simulation -->
    <group if="$(arg vrep_simu)">
        <include file="$(find vrep_ros_control)/launch/vrep_UR.launch"> </include>
    </group>

    <!-- MoveIt! Planning node -->
    <include file="$(find dual_ur3_moveit_config)/launch/multiple_ur3_moveit_planning_execution.launch">
        <arg name="sim_VREP" value="true"/>
    </include>

    <!-- Upper-level state machine -->
    <!-- <node pkg="smach_ur3_simu" type="sm_ur3_simu.py" name="logic_state_machine" output="screen"/> -->
    <node pkg="smach_ur3_simu" type="sm_ur3_simu_menu.py" name="logic_state_machine" output="screen"/>
    
    <group if="$(arg smach_view)">
        <node pkg="smach_viewer" type="smach_viewer.py" name="state_machine_viewer" output="screen"/>
    </group>

    <!-- Webapp -->
    <group if="$(arg webapp)">
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"> </include>
        <node name="loader_webapp" pkg="cooperative_demo" type="launch_webapp.sh" />
    </group>

</launch>
